body::after {
    background-image: url(../images/plan.jpg);
    content: "";
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
  }

h1 {
position: relative; 
color: black;  
font-size: 5rem;
line-height: 0;
text-align: left;
margin-left: 10px
}

h2 {
position: relative; 
line-height: 0;
text-align: left;
padding-bottom: 50px;
margin-left: 12px;
}

p {
    position: relative; 
    line-height: 0;
    text-align: left;
    margin-left: 12px
}

div{
    margin-left: 12px;
}

button{
    margin-top: 10px;
    margin-left: 12px;
}